/***************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  padding-left: 18rem;
  padding-right: 18rem;
  position: absolute;
  gap: 2.2rem;
  align-items: center;
  width: 100%;
  height: 12rem;
}

.promo {
  background-image: url("/img/promo-background.png");
  box-shadow: inset 0px 140px 40px rgb(0 0 0 / 30%);
  min-height: 75rem;
  padding-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin-right: auto;
  color: #fff;
  font-size: 3.6rem;
}

.nav {
  align-self: stretch;
}

.header-nav-list {
  display: flex;
  list-style: none;
  gap: 0.8rem;
  height: 100%;
}

li {
  display: flex;
  position: relative;
  align-items: center;
}

.header-nav-link:link,
.header-nav-link:visited {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 2.1rem;
  font-family: "Gentium Plus", serif;
  font-weight: 700;
}

.header-nav-link:hover::after,
.header-nav-link:active::after,
.header-nav-link.is-active::after {
  opacity: 0.8;
}

.header-nav-link::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  height: 3px;
  width: 100%;
  background: #fff;
  transition: opacity 0.3s ease-in;
}

.header-social {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.header-social-link:link,
.header-social-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.5s;
}

.header-social-link:active,
.header-social-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.social-icon {
  color: #dab33e;
  width: 2rem;
  height: 2rem;
}

.content {
  font-size: 9rem;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  padding-left: 32rem;
  padding-right: 32rem;
  text-shadow: 1px 1px 2px black;
}

IMG.decoration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2rem;
}

.promo-btn {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 4.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  padding: 2.1rem 5.3rem;
  transition: all 0.5s;
}

.btn-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-black:active,
.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-white {
  background-color: rgb(255, 255, 255, 0.3);
}

.btn-white:active,
.btn-white:hover {
  background-color: rgb(255, 255, 255, 0.5);
}
